* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  margin: 12% 17%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.75rem 2rem;
  margin-top: 4.5em;
  font-size: 0.95rem;
  border-radius: 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsla(0, 0%, 100%, 0);
  border-color: hsl(0, 0%, 95%);
}

.btn-sedan {
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
}

.btn-suv {
  color: hsl(184, 100%, 22%);
  background-color: hsl(0, 0%, 95%);
}

.btn-luxury {
  color: hsl(179, 100%, 13%);
  background-color: hsl(0, 0%, 95%);
}

.preview-card {
  display: flex;
}

.card-info {
  padding: 1em;
  margin: 2em;
}

.sedan-card {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.suv-card {
  background-color: hsl(184, 100%, 22%);
}

.luxury-card {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.heading {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 1.5rem auto;
}

.text {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.95rem;
  line-height: 1.6;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 967px) {
  body {
    margin: 5% 10%;
  }

  .preview-card {
    display: flex;
    flex-wrap: wrap;
  }

  .sedan-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .luxury-card {
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
